<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0"/>
    <title>MockData Table</title>

    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
<div th:replace="fragments/header :: header"></div>
<div class="container-fluid mt-4" style="max-width: 900px;">
    <h2>MockData Table</h2>
    <button type="button" class="btn btn-primary mt-3 mb-2" onclick="openCreateModal()">Create New</button>
    <table class="table table-bordered table-hover table-responsive-xl">
        <thead>
        <tr>
            <th>ID</th>
            <th>Path</th>
            <th>Response Type</th>
            <th>HTTP Method</th>
            <th>Success Status</th>
            <th>Failure Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="mockData : ${mockDataList}">
            <td th:text="${mockData.id}" style="font-weight: bold; text-align: center; color: #007bff;"></td>
            <td th:text="${mockData.path}"></td>
            <td th:text="${mockData.responseType}" style="text-transform: uppercase;"></td>
            <td th:text="${mockData.httpMethod}" style="text-transform: uppercase;"></td>
            <td th:text="${mockData.successStatus}" style="color: green;"></td>
            <td th:text="${mockData.failureStatus}" style="color: red;"></td>
            <td class="d-flex justify-content-center align-items-center">
                <button class="btn btn-primary btn-sm ml-2" th:attr="onclick='openShowModal(' + ${mockData.id} + ')'">
                    Show
                </button>
                <button class="btn btn-success btn-sm ml-2" th:attr="onclick='openEditModal(' + ${mockData.id} + ')'">
                    Edit
                </button>
                <button class="btn btn-danger btn-sm ml-2" th:attr="onclick='openDeleteModal(' + ${mockData.id} + ')'">
                    Delete
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="modals/show_modal :: #showModal"></div>
<div th:replace="modals/create_modal :: #createModal"></div>
<div th:replace="modals/edit_modal :: #editModal"></div>
<div th:replace="modals/delete_modal :: #deleteModal"></div>

<script>

    const getInputValue = (elementId) => document.getElementById(elementId).value;
    const getElementInnerText = (elementId) => document.getElementById(elementId).innerText;

    async function fetchMockData(url) {
        const response = await fetch(url);
        if (!response.ok) {
            throw new Error('Network response was not ok.');
        }
        return response.json();
    }

    const openModal = (modalId) => $(modalId).modal('show')

    const closeModal = (modalId) => $(modalId).modal('hide');

    const pascalToCamelCase = (str) => str.charAt(0).toLowerCase() + str.slice(1);

    function fillInputs(modalPrefix, mockData) {
        const fields = ['Id', 'Path', 'SuccessResponse', 'FailureResponse', 'ResponseType', 'HttpMethod',
            'SuccessStatus', 'FailureStatus', 'Created'];

        fields.forEach(field => {
            const element = document.getElementById(`${modalPrefix}${field}`);
            if (!element) {
                return;
            }
            console.log(element)
            if (element.tagName === 'SELECT' || element.tagName === 'INPUT' || element.tagName === 'TEXTAREA') {
                element.value = mockData[pascalToCamelCase(field)];
            } else {
                element.innerText = mockData[pascalToCamelCase(field)];
            }
        });
    }

    const openShowModal = async (id) => {
        try {
            const mockData = await fetchMockData(`/api/mock/${id}`);
            if (mockData) {
                fillInputs('show', mockData);
                openModal('#showModal');
            }
        } catch (error) {
            console.error('Error fetching MockData:', error);
        }
    }

    const openCreateModal = () => {
        openModal('#createModal');
    };

    const openEditModal = async (id) => {
        try {
            const mockData = await fetchMockData(`/api/mock/${id}`);
            if (mockData) {
                fillInputs('edit', mockData);
                openModal('#editModal');
            }
        } catch (error) {
            console.error('Error fetching MockData:', error);
        }
    }

    const saveChanges = async () => {
        const id = document.getElementById('editId').value;
        const newPath = document.getElementById('editPath').value;

        closeModal('#editModal');
    }

    function openDeleteModal(id) {
        document.getElementById('deleteId').innerText = id;
        openModal('#deleteModal');
    }

    function deleteData() {
        const id = getElementInnerText('deleteId');

        fetch(`/api/mock/${id}`, {
            method: 'DELETE',
            headers: {'Content-Type': 'application/json'},
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response;
            })
            .then((data) => {
                closeModal('#deleteModal');
                location.reload();
            })
            .catch((error) => {
                console.error('Error deleting data:', error);
            });
    }


    function saveNewData(event) {
        event.preventDefault();
        const path = getInputValue('createPath');
        const responseType = getInputValue('createResponseType');
        const httpMethod = getInputValue('createHttpMethod');
        const successStatus = getInputValue('createSuccessStatus');
        const failureStatus = getInputValue('createFailureStatus');
        const successResponse = getInputValue('createSuccessResponse');
        const failureResponse = getInputValue('createFailureResponse');


        const data = {
            path: path,
            responseType: responseType,
            httpMethod: httpMethod,
            successStatus: successStatus,
            failureStatus: failureStatus,
            successResponse: successResponse,
            failureResponse: failureResponse,
        };

        fetch('/api/mock', {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data),
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then((data) => {
                closeModal('#createModal');
                location.reload();
            })
            .catch((error) => {
                console.error('Error saving new data:', error);
            });
    }

    const updateData = async (event) => {
        event.preventDefault();
        const id = document.getElementById('editId').value;
        const newPath = document.getElementById('editPath').value;
        const responseType = document.getElementById('editResponseType').value;
        const httpMethod = document.getElementById('editHttpMethod').value;
        const successStatus = document.getElementById('editSuccessStatus').value;
        const failureStatus = document.getElementById('editFailureStatus').value;
        const successResponse = document.getElementById('editSuccessResponse').value;
        const failureResponse = document.getElementById('editFailureResponse').value;

        const data = {
            id: id,
            path: newPath,
            responseType: responseType,
            httpMethod: httpMethod,
            successStatus: successStatus,
            failureStatus: failureStatus,
            successResponse: successResponse,
            failureResponse: failureResponse,
        };

        fetch(`/api/mock/${id}`, {
            method: 'PUT',
            headers: {'Content-Type': 'application/json'},
            body: JSON.stringify(data),
        })
            .then((response) => {
                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }
                return response.json();
            })
            .then((data) => {
                closeModal('#editModal');
                location.reload();
            })
            .catch((error) => {
                console.error('Error updating data:', error);
            });
    };

</script>

<div th:replace="fragments/footer :: footer"></div>
</body>

</html>
